@font-face{
    font-family: 'ComfortaaBold';
    src: url('../../../assets/fonts/Comfortaa-Bold.ttf') format('truetype');
  }

ion-content{
   overflow: hidden; 
}

.btnClose{
    margin-left:auto;
    color: #e46262;
}

main{
    overflow:hidden;
}

.contenido{
    width:100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    .tallas{
        width:100%;
        margin-top:5px
    }
}
.segmentTallas{
    max-width:95%;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: #7abf98;
    .btnTallas{
        padding: 0;
        margin: 0;
        max-width: 35px;
        --border-width: 0;
        font-size: 10px;
        --border-color:#7abf98;
        --background-activated: #7abf98;
        color:#4d7a61;
    }
    .btnTallas:hover{
        
        --border-width: thin;
    }
    .btnTallasSelected{
        color:white;
        background-color: #7abf98;
        --background:#7abf98;
    }
}
.colores{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    .colors{
        width:20px;
        height:20px;
        border-radius: 50px;
        margin-left: 5px;
        display:inline-block;
        border-style: solid;
        border-width: .5px;
        border-color: #999999;
    }
    .selectedColor{
        border-width: 3px;
        border-color: #4d7a61;
    }
    .imagen{
        width:55%;
        display:inline-block;
        img{
            max-width:100px;
            max-height: 105px;
        }
    }
    .insideColors{
        width:44%;
        display:inline-block;
    }
}
.txtPrecio, .btnCart{
    width:100%;
    margin:auto;
    height: fit-content;
    vertical-align: middle;
    margin-top: 9px;
}
.insidePrecio{
    width: fit-content;
    margin: auto;
}
.addCart{
    font-size: small ;
    color:#709971;
    margin:auto;
    --background:#7abf98;
    height: 25px;
}

.btnCart{
    width: 90%;
    margin: auto;
    height: 100%;
}

.btnClose{
    height:10%;
}
.controles{
    height:90%;
}


